body{
font-family: Arial, Helvetica, sans-serif;
}

.main-logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    object-fit: cover;
    display: block;
}


.logo-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #f6b400;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
     box-shadow: 0 0 8px rgba(246, 180, 0, 0.5);
}

.logo-circle img {
    width: 130%;
    height: 130%;
    object-fit: contain;
    transform: translate(5%, 5%);
}


.contact-main{
padding:120px 20px 60px;
background:#f4f4f4;
}

.contact-main h1{
font-size:42px;
margin-bottom:10px;
}

.contact-main p{
font-size:20px;
color:#555;
}


.contact-section{
padding:60px 20px;
}

.contact-info{
text-align:left;
}

.contact-info h2{
margin-bottom:20px;
}

.contact-info p{
margin:10px 0;
font-size:16px;
}

.contact-info i{
color:#FFC300;
margin-right:10px;
}




.contact-form h2{
margin-bottom:20px;
}

.contact-form input,
.contact-form textarea{
width:100%;
padding:10px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:5px;
}

.contact-form textarea{
height:100px;
resize:none;
}

.contact-form button{
background:#FFC300;
border:none;
padding:10px 20px;
border-radius:5px;
font-size:16px;
cursor:pointer;
}


.contact-help{
background:#FFC300;
padding:60px 20px;
}



footer{
background:#111;
color:white;
padding:20px;
text-align:center;
margin-top:40px;
}