body{
margin-top:80px;
font-family:Arial, Helvetica, sans-serif;
}

.main-logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    object-fit: cover;
    display: block;
}


.logo-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #f6b400;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
     box-shadow: 0 0 8px rgba(246, 180, 0, 0.5);
}

.logo-circle img {
    width: 130%;
    height: 130%;
    object-fit: contain;
    transform: translate(5%, 5%);
}

.main{
padding:80px 0;
}

.heading{
font-size:50px;
font-weight:bold;
}

.service-box{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}


.feature-card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.feature-card i{
color:#f6b400;
}


.benefit-card{
background:#f6b400;
padding:25px;
border-radius:10px;
}

.ride-modal{
border-radius:20px;
padding:15px;
}

.btn-book{
background-color:#f6b400;
border:none;
border-radius:10px;
font-weight:bold;
padding:10px;
}

.btn-book:hover{
background-color:#d99c00;
}

.form-control,
.form-select{
border-radius:10px;
}